@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

/* <!-------------------------------------- Start Bootsrap-----------------------------------------> */

.categories-services {
  display: flex !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.dropdown-item:hover {
  color: rgb(247, 168, 89) !important;
}

.dropdown-item {
  --bs-dropdown-link-active-bg: none !important;
}

.btn {
  background-image: linear-gradient(
    to right,
    rgb(255, 128, 0) 0%,
    rgb(255, 151, 46) 50%,
    rgb(248, 171, 94) 100%
  );
  color: rgb(254, 254, 254) !important;
  font-weight: 700 !important;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(248, 171, 94) 0%,
    rgb(255, 151, 46) 50%,
    rgb(255, 128, 0) 100%
  );
  transition: 5s !important;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  margin-left: 30px;
  width: 50px !important;
}

#logo {
  width: 100px;
  border-radius: 10px;
  height: 49px;
}
.navbar {
  background-color: rgb(255, 255, 255);
  padding: 10px 40px !important;
  box-shadow: 1px 1px 1px gray;
  font-family: 'Amiko', sans-serif !important;
  font-size: 1.1em;
  font-weight: 700;
}
.navbar-expand-lg {
  display: flex !important;
  justify-content: flex-end !important;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(0, 91, 124) !important;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: 0.5s !important;
}

.nav-link:hover {
  color: rgb(247, 168, 89) !important;
}

.navbar-nav {
  margin-right: 70px;
  gap: 25px;
}

/* <!--- Start media Bootsrap---> */
@media (max-width: 1000px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(
      var(--bs-light-rgb),
      var(--bs-bg-opacity)
    ) !important;
    justify-content: space-between !important;
  }
}
@media (max-width: 660px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
}
@media (max-width: 280px) {
  .navbar {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
  }
  a.navbar-brand {
    margin-left: -20px !important;
  }
}

/* <!--- End media Bootsrap---> */

/* <!-------------------------------------- End Bootsrap-----------------------------------------> */
/*<!----------------------------------------RULES------------------------------------------------->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: rgb(254, 254, 254);
  --pargraph-color: rgb(116, 114, 110);
  --hover-btn: rgb(254, 254, 254);
  --pargraph-btn-size: 1em;
  --bg-btn: rgb(247, 168, 89);
  --text-btn: rgb(254, 254, 2 54);
  --hover-btn: rgb(254, 254, 254);
  --hover-btn-text: black;
  --pargraph-text: 1.2em;
  --box-shadow: 1px 1px 4px 1px #b3b3b3;
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
  overflow-x: hidden;
}

h1 {
  font-size: 3.1em !important;
}

h2 {
  font-size: 2.5em !important;
}

h3 {
  font-size: 1.8em !important;
  font-weight: 600;
}

h4 {
  font-size: 1.3em !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Amiko', sans-serif;
  color: rgb(0, 91, 124);
}
p {
  font-size: 1.25em;
  color: rgb(116, 114, 110);
}

/*!---------------------------------------- END-RULES------------------------------------------------->

/* ===================================== start contact us  ========================================*/

/* <!-- ==================================== contact-us-left ======================================== --> */
.contact-us-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10em;
}
.contact-us-left {
  width: 36.5em;
  height: 32.125;
  padding: 1.875em 1.25em;
  margin: 1.875em 1.25em;
  box-shadow: var(--box-shadow);
}
.contact-us-left h3 {
  width: 7em;
  margin: 0;
  height: 2.5em;

  padding-left: 1.5em;
}
.contact-us-left h3::after,
.contact-us-right h3::after {
  content: '';
  width: 50%;
  height: 3px;
  background-color: #ff880f;
  display: none;
}
.contact-us-left h3:hover::after,
.contact-us-right h3:hover::after {
  content: '';
  width: 50%;
  display: block;
}

.contact-us-form {
  margin-bottom: 1.5em;
  padding: 7px;
  width: 23.375em;
}

.contact-us-text-area {
  width: 23.375em;
  height: 5em;
  padding: 14px;
}

.contact-us-left-button {
  width: 12.5em;
  height: 3.125em;
  margin-top: 2em;
  background-color: var(--bg-btn);
  font-size: 1em;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(255, 128, 0) 0%,
    rgb(255, 151, 46) 50%,
    rgb(248, 171, 94) 100%
  );
  color: rgb(254, 254, 254) !important;
  font-weight: 700 !important;
  border: none;
  border-radius: 10px;
}

.contact-us-left-button:hover {
  background-image: linear-gradient(
    to right,
    rgb(248, 171, 94) 0%,
    rgb(255, 151, 46) 50%,
    rgb(255, 128, 0) 100%
  );
  transition: 5s !important;
}
/* <!-- ==================================== contact-us-right ======================================== --> */
.contact-us-right {
  width: 36.5em;
  height: 32.125;
  padding: 1.875em 1.25em;
  padding-top: 5em;
}
.contact-us-right h3 {
  width: 7em;
  margin-bottom: 1em;
}

.contact-us-right-icon {
  list-style: none;
  font-size: 2em;
  padding-bottom: 2.5em;
}
.contact-us-span {
  padding-left: 50px;
  color: #ff880f;
}
.contact-us-right-icon-link {
  color: black;
  text-decoration: none;
}
/* ===================================== end contact us  ========================================*/

/* < !--------------------------------------- Start Footer-------------> */
footer {
  background-color: rgb(0, 91, 124);
  width: 100vw;
  padding-bottom: 20px;
  margin-top: 2em;
}

.container-footer {
  width: 100vw;
  padding: 40px 40px 20px 40px;
}

.content-footer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 658px) {
  .content-footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1200px) {
}
.company-name,
.follow-up,
.quick-link,
.contact-us {
  width: 255px;
}

@media (max-width: 460px) {
  html {
    font-size: 9px !important;
  }
}

.icon-quick {
  display: flex;
  flex-direction: column;
}

.icon-quick a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
}

.icon-quick a:hover i {
  color: rgb(230, 16, 16);
}

.icon-quick a i {
  padding: 0 12px 0 0;
}

.icon-quick .fa-solid {
  color: rgb(1, 68, 94);
  font-size: 1.25em;
}

.icon-follow-up {
  display: flex;
  align-items: center;
}

.icon-follow-up a {
  padding: 0.4em;
}

.icon-follow-up .fa-brands {
  font-size: 35px !important;
  /* color: rgb(3, 99, 134); */
  color: rgb(1, 68, 94);
}

.input-contact-us input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.4em;
  background-color: rgb(1, 68, 94);
  border-radius: 0.3em;
  border: none;
  outline: none;
}

.copyright {
  background-color: rgb(1, 68, 94);
  padding: 10px;
  text-align: center;
}

footer h4 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.4em !important;
  font-weight: 800;
}

footer p {
  color: rgb(255, 255, 255) !important;
  font-size: 1.25em !important;
}

.content-footer span::before {
  content: '';
  background-color: rgb(255, 134, 12);
  display: block;
  margin-top: 1.25em;
  height: 2px;
  width: 20%;
}

.content-footer span::after {
  content: '';
  background-color: rgb(255, 134, 12);
  display: block;
  margin-top: 5px;
  height: 2px;
  width: 45%;
  margin-bottom: 20px;
}

/* @media (max-width:1250px) {
  html {
    font-size: 10px;
  }

} */

/* < !--------------------------------------- End Footer-------------> */

/* ===================================== media queres============================================*/

@media (max-width: 1030px) {
}
@media (max-width: 865px) {
  .contact-us-c {
    flex-direction: column;
  }
}
@media (max-width: 631px) {
  .contact-us-left {
    width: 24em;
  }
  .contact-us-form {
    width: 20em;
  }
  .contact-us-text-area {
    width: 20em;
  }
  .contact-us-right {
    width: 25em;
  }
}
@media (max-width: 434px) {
  .contact-us-left {
    width: 20em;
  }
  .contact-us-form {
    width: 15em;
  }
  .contact-us-text-area {
    width: 15em;
  }
  .contact-us-right {
    width: 18em;
  }
  .contact-us-span {
    padding-left: 15px;
  }
}
@media (max-width: 363px) {
  .contact-us-left {
    width: 15em;
  }
  .contact-us-form {
    width: 12em;
  }
  .contact-us-text-area {
    width: 12em;
  }
  .contact-us-right {
    width: 13em;
  }
  .contact-us-left h3 {
    width: 7em;
  }
  .contact-us-right h3 {
    width: 7em;
  }
  .contact-us-right-icon {
    list-style: none;
    font-size: 1.4em;
    padding-bottom: 2.5em;
  }
  span {
    padding-left: 10px;
    color: #ff880f;
  }
}
